*{
    margin: 0;
    padding:0;
}
body {
    height: 100vh;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
  
  header {
    background-color: #f7e7f0; 
    padding: 20px;
    text-align: center;
    background-size: cover;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  section {
    padding: 40
  }
  .about {
    color: rgb(0, 0, 0);
    font-family: century;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("colorful-summer-treat-melting-ice-cream-generative-ai_188544-12424.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .flavors {
    margin-top: 40px; 
  }
  
  .flavor {
    margin-bottom: 40px; 
  }
  .about h2 {
    font-size: 36px;
    font-weight: bold; /* Make the heading text bolder */
    line-height: 1.5;
  }
  
  .about p {
    font-size: 24px;
    font-weight: bold; /* Make the paragraph text bolder */
    line-height: 1.6;
  }